:root {
  /* Fonts Styles */
  --primary-font: "Inter", "serif";
  --secondary-font: "Libre Baskerville", "serif";
  /* text colours */
  --primary-color: #1F3B2D;
  --secondary-color: #D99A2B;
  --text-color: #000000;
  /* Background colours*/
  --primary-bg-color: #F8F6F1;
  --secondary-bg-color: #FCFBF8;
}

body {
  background-color: var(--secondary-bg-color);
  color: var(--text-color);
  font-family: var(--primary-font);
  overflow: visible;
  height: auto;
}
.navbar {
  background-color: var(--primary-bg-color);
  font-family: var(--primary-font);
  color: var(--primary-color);
}
.navbar-brand:hover{
  color: var(--secondary-color);
}
.logo-img{
  width: 60px;
  height: 60px;
  margin: auto;
}

.logo {
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-weight: bold;
  font-size: 2rem;
  margin-right: 40px
}
.search-bar {
  margin-left: auto;
  padding-right: 1rem;
  align-items: center;
}
.my-custom-btn {
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.my-custom-btn:hover {
  background-color: #D99A2B;
  color: var(--primary-bg-color);
  border-color: #D99A2B;
}

.actived {
  color: var(--primary-color);
  font-weight: bold;
}

.navbar-brand {
  font-family: var(--secondary-font);
  color: var(--primary-color);
}

.navbar-item {
  font-family: var(--primary-font);
  color: var(--primary-color);

}
.nav-link:hover {
  color: var(--secondary-color);
}

/* Keep input + button aligned */
.search-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Container that holds input + dropdown */
.search-container {
    position: relative;
    width: 250px; /* dropdown will match this width */
}

/* Search bar */
#query {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

/* Autocomplete dropdown */
#suggestions {
  position: absolute;
  top: 100%; /* places it directly under the input */
  left: 0;
  width: 100%; /* same width as input */
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: none;
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
}
/* Dropdown items */
#suggestions div {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

#suggestions div:last-child {
    border-bottom: none;
}

#suggestions div:hover {
    background: #f0f0f0;
}

main {
    margin: 20px;
}

h1, h2, h3 {
  font-family: var(--secondary-font);
  color: var(--primary-color);
  font-size: 2.5rem;
  
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  font-family: var(--primary-font);
  color: var(--text-color);
  font-size: 1.2rem;
  
}
li {
  font-family: var(--primary-font);
  color: var(--text-color);
  font-size: 1.2rem;
  
}

ul { 
  padding-left: 20px; 
}

/* Weekly Recipe section */
#weekly-recipe {
  background-color: var(--primary-bg-color);
  border-radius: 25px;
  padding: 20px;
  margin: 5px;
}
#weekly-recipe img {
  align-self: center;
  max-width: 400px;
  width: 100%;
  border-radius: 25px;
}
.weekly-recipe-section {
  padding: 40px;
}

/* Recipe page styles */
.recipe-container {
  background-color: var(--primary-bg-color);
  border-radius: 25px;
}
.recipe-row .instructions-row {
  margin: 20px;
  padding: 20px;
  height: auto;
  overflow: visible;
}

.recipe-container img {
  max-width: 400px;
  width: 100%;
  border-radius: 25px;
  align-self: center;
}
.recipe-container {
  margin-top: 20px;
  margin-bottom: 20px;
}
.recipe-container h2 {
  margin-top: 10px;
}

