:root {
  /* Fonts Styles */
  --primary-font: "Inter", "serif";
  --secondary-font: "Libre Baskerville", "serif";
  /* text colours */
  --primary-color: #1F3B2D;
  --secondary-color: #D99A2B;
  --text-color: #000000;
  /* Background colours*/
  --primary-bg-color: #F8F6F1;
  --secondary-bg-color: #FCFBF8;
}

body {
  background-color: var(--secondary-bg-color);
  color: var(--text-color);
  font-family: var(--primary-font);
}
.navbar {
  background-color: var(--primary-bg-color);
  font-family: var(--primary-font);
  color: var(--primary-color);
}
.navbar-brand:hover{
  color: var(--secondary-color);
}
.logo {
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-weight: bold;
  font-size: 2rem;
  margin-right: 40px
}

.actived {
  color: var(--primary-color);
  font-weight: bold;
}

.navbar-brand {
  font-family: var(--secondary-font);
  color: var(--primary-color);
}

.navbar-item {
  font-family: var(--primary-font);
  color: var(--primary-color);

}
.nav-link:hover {
  color: var(--secondary-color);
}

main {
    margin: 20px;
}

h1 {
  font-family: var(--secondary-font);
  color: var(--primary-color);
  font-size: 2.5rem;
  margin-left: 40px;
}

#results { 
  margin-top: 20px; 
  display: grid; 
  gap: 20px; 
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
}
.card {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  background-color: var(--secondary-bg-color);
}
img { 
  width: 100%;
  border-radius: 6px; 
}
ul { 
  padding-left: 20px; 
}